body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#add_institute_btn{
  width:100px;
  margin: auto;
}
.add-institute {
  margin-top: 20px;
}
.radio-btn {
  border: 1px solid #ccc;
  padding-left: 48px;
}

#project_wrap {
  margin-bottom: 48x;
}

#principal_list {
  margin-bottom: 48px;
}

#supervision_list {
  margin-bottom: 48px;
}

#parter_list {
  margin-bottom: 48px;
}
.add-contract-area {
  margin-top:20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 20px;
}
.input-group {
  margin-top: 20px;
}